<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/dashboard.css">
  <title> Dashboard </title>
</head>
<body>
  <section class="dashboard">
    <div class="container">
      <img src=<%= user.profilepicture %> alt="avatar">
      <div>
        <button><a href="">Edit Picture</a></button>
      </div>
      <div class="details-section">
        <h3> <%= user.firstname %> <%= user.lastname %></h3>
        <h4 class="balance">Balance : $ <%= user.balance %></h4>
        <h4> Joined : <%= user.joined %></h4>
        <a href="/followers">Followers : <%= user.followers.length %></a>
        <a href="/following">Following : <%= user.following.length %></a>
        <h5>Username : <%= user.username %></h5>
        <h5>Email : <%= user.email %></h5>
        <h5>Bio : <%= user.bio %></h5>
      </div>

    </div>
    <form action="/user" method="post">
    <h2>Search User by email</h2>
    <input type="text" name="email">
    <button type="submit">Search User</button>
  </form>

  </section>
  
</body>
</html>